* {
  margin: 0;
  padding: 0;
}

/* BenchNine */
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap");

/* Cabin */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap");

body,
html {
  color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hero {
  height: 100vh;
  background: center/cover url(./images/Hero.png);
}

#title-nav-1 {
  display: flex;
  height: 7.6vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: space-around;
  align-items: center;
}

#title-nav-2 {
  background-color: #687fad;
  height: 7.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-nav-text {
  font-family: "Cabin", sans-serif;
  text-decoration: underline;
}

.title-nav-text:hover {
  cursor: pointer;
}

#history {
  height: 80vh;
  background: center/cover url(./images/History.png);
}

#full-logo {
  height: 7vh;
}

#climb-head {
  width: 100vw;
}

#climb-bg {
  background: center/cover url(./images/Mountain1.png);
  height: 60vh;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  background-color: #172443;
}

#footer-text {
  color: #243662;
  font-family: "Cabin";
}

#footer-logo {
  filter: opacity(45%);
}

.mount-nav-item {
  font-family: "BenchNine", sans-serif;
  font-size: 2rem;
}

.mount-nav-item:hover {
  cursor: pointer;
}

#mount-nav-cont {
  display: flex;
  height: 40px;
  background-color: #404f6c;
  align-items: center;
  padding-left: 20vw;
}

.mount-select {
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 230ms;
}

#carousel {
  display: flex;
  padding-top: 60px;
  padding-right: -15%;
  justify-content: flex-end;
}

.mount-image {
  width: 23%;
  box-shadow: 0px 5px 21px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 21px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 21px 5px rgba(0, 0, 0, 0.75);
  transition-duration: 300ms;
}

@media all and (max-width: 625px) {
  #hero {
    background: center/cover url(./images/Hero.png);
    height: 45vh;
  }

  #history {
    height: 35vh;
    background: center/cover url(./images/History.png);
  }

  #climb-bg {
    background: center/cover url(./images/Mountain1.png);
    height: 35vh;
  }

  .mount-nav-item {
    font-family: "BenchNine", sans-serif;
    font-size: 1rem;
    color: lightgray;
  }

  #mount-nav-cont {
    display: flex;
    height: 40px;
    background-color: #404f6c;
    align-items: center;
    padding-left: 5vw;
  }

  .title-nav-text {
    font-family: "Cabin", sans-serif;
    text-decoration: underline;
    font-size: 0.55rem;
  }

  #climb-head {
    width: 100vw;
    height: 6vh;
  }

  #footer-logo {
    filter: opacity(45%);
    width: 150px;
    height: 65px;
  }

  #footer-text {
    color: #243662;
    font-family: "Cabin";
    font-size: 0.55rem;
  }
}
